<a href="https://colab.research.google.com/github/Ratma95/Proyecto_Data_Analytics/blob/main/Proyecto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

# Ejercicio N°1

Escribir una función que devuelva un Hexágono

Metodo 1

In [ ]:
import turtle

vic=turtle.Turtle()

def hexagono(lado):
  for i in range(6):
      vic.forward(lado)
      vic.right(60)


hexagono(100)

Metodo 2

In [4]:
def hexagono(base):
  for r in range(0,base-1):
    print(" ", end='')
  for r in range(0,base):
    print("*", end='')

  for i in range(1,base-1):
    print("\n", end='')
    for e in range(0,base-i-1):
      print(" ", end='')
    print("*", end='')
    for e in range(0,base+2*i-2):
      print(" ", end='')
    print("*", end='')

  for i in range(base,1,-1):
    print("\n",end='')
    for e in range(0,base-i):
      print(" ",end='')
    print("*",end='')
    for e in range(0,base+2*i-4):
      print(" ",end='')
    print("*",end='')  

  print("\n",end='')
  for i in range(0,base-1):
    print(" ",end='')
  for i in range(0,base):
    print("*",end='')
  print("\n",end='')

In [ ]:
base=int(input('Introduce el numero de asteriscos que formaran la base: '))
hexagono(base)

# Ejercicio N°2

Generar un Notebook Colab con código y resultados, con el siguiente fichero autos.csv que contiene información de autos de un periodo de tiempo. Resolver los siguientes:


*   Limpieza y tratamiento de las variables
*   Generar 5 nuevas variables aplicando los siguientes criterios con las variables numéricas:
    1. Log10(var1/var2)
    2. Sqrt(var1)exp(var2)/200
    3. Si var 1 > var 2 → 5, caso contrario 3
    4. 1/logn(var1/var2)*100
    5. var2**2/var1
    6. pi*sin(var1/var2)




*   Generar 3 variables cualitativas ordinales con los siguientes criterios:
  1. Si es mayor a la “media + 1*desviación estándar” → Alto
  2. Si está entre “media - 1*desviación estándar” y “media + 1*desviación estándar” → Medio
  3. Si es menor a la “media - 1*desviación estándar” → Bajo

In [49]:
#cargamos la data desde nuestra PC
from google.colab import files
files.upload()

Saving autos.csv to autos (1).csv

{'autos.csv': b"Millas_Por_Galon;Cilindros;Pais_Origen;Peso_En_Libras;Desplazamiento;Aceleracion;Nombre;Anyo;Caballo_De_Fuerza\r\n18;8;USA;3504;307;12;chevrolet chevelle malibu;1/01/1970;130\r\n15;8;USA;3693;350;11.5;buick skylark 320;1/01/1970;165\r\n18;8;USA;3436;318;11;plymouth satellite;1/01/1970;150\r\n16;8;USA;3433;304;12;amc rebel sst;1/01/1970;150\r\n17;8;USA;3449;302;10.5;ford torino;1/01/1970;140\r\n15;8;USA;4341;429;10;ford galaxie 500;1/01/1970;198\r\n14;8;USA;4354;454;9;chevrolet impala;1/01/1970;220\r\n14;8;USA;4312;440;8.5;plymouth fury iii;1/01/1970;215\r\n14;8;USA;4425;455;10;pontiac catalina;1/01/1970;225\r\n15;8;USA;3850;390;8.5;amc ambassador dpl;1/01/1970;190\r\nNA;4;Europe;3090;133;17.5;citroen ds-21 pallas;1/01/1970;115\r\nNA;8;USA;4142;350;11.5;chevrolet chevelle concours (sw);1/01/1970;165\r\nNA;8;USA;4034;351;11;ford torino (sw);1/01/1970;153\r\nNA;8;USA;4166;383;10.5;plymouth satellite (sw);1/01/1970;175\r\nNA;8;USA;3850;360;11;amc rebel sst (sw);1/01/1970;175\r\n15;8;USA;3563;383;10;dodge challenger se;1/01/1970;170\r\n14;8;USA;3609;340;8;plymouth 'cuda 340;1/01/1970;160\r\nNA;8;USA;3353;302;8;ford mustang boss 302;1/01/1970;140\r\n15;8;USA;3761;400;9.5;chevrolet monte carlo;1/01/1970;150\r\n14;8;USA;3086;455;10;buick estate wagon (sw);1/01/1970;225\r\n24;4;Japan;2372;113;15;toyota corona mark ii;1/01/1970;95\r\n22;6;USA;2833;198;15.5;plymouth duster;1/01/1970;95\r\n18;6;USA;2774;199;15.5;amc hornet;1/01/1970;97\r\n21;6;USA;2587;200;16;ford maverick;1/01/1970;85\r\n27;4;Japan;2130;97;14.5;datsun pl510;1/01/1970;88\r\n26;4;Europe;1835;97;20.5;volkswagen 1131 deluxe sedan;1/01/1970;46\r\n25;4;Europe;2672;110;17.5;peugeot 504;1/01/1970;87\r\n24;4;Europe;2430;107;14.5;audi 100 ls;1/01/1970;90\r\n25;4;Europe;2375;104;17.5;saab 99e;1/01/1970;95\r\n26;4;Europe;2234;121;12.5;bmw 2002;1/01/1970;113\r\n21;6;USA;2648;199;15;amc gremlin;1/01/1970;90\r\n10;8;USA;4615;360;14;ford f250;1/01/1970;215\r\n10;8;USA;4376;307;15;chevy c20;1/01/1970;200\r\n11;8;USA;4382;318;13.5;dodge d200;1/01/1970;210\r\n9;8;USA;4732;304;18.5;hi 1200d;1/01/1970;193\r\n27;4;Japan;2130;97;14.5;datsun pl510;1/01/1971;88\r\n28;4;USA;2264;140;15.5;chevrolet vega 2300;1/01/1971;90\r\n25;4;Japan;2228;113;14;toyota corona;1/01/1971;95\r\n25;4;USA;2046;98;19;ford pinto;1/01/1971;NA\r\nNA;4;Europe;1978;97;20;volkswagen super beetle 117;1/01/1971;48\r\n19;6;USA;2634;232;13;amc gremlin;1/01/1971;100\r\n16;6;USA;3439;225;15.5;plymouth satellite custom;1/01/1971;105\r\n17;6;USA;3329;250;15.5;chevrolet chevelle malibu;1/01/1971;100\r\n19;6;USA;3302;250;15.5;ford torino 500;1/01/1971;88\r\n18;6;USA;3288;232;15.5;amc matador;1/01/1971;100\r\n14;8;USA;4209;350;12;chevrolet impala;1/01/1971;165\r\n14;8;USA;4464;400;11.5;pontiac catalina brougham;1/01/1971;175\r\n14;8;USA;4154;351;13.5;ford galaxie 500;1/01/1971;153\r\n14;8;USA;4096;318;13;plymouth fury iii;1/01/1971;150\r\n12;8;USA;4955;383;11.5;dodge monaco (sw);1/01/1971;180\r\n13;8;USA;4746;400;12;ford country squire (sw);1/01/1971;170\r\n13;8;USA;5140;400;12;pontiac safari (sw);1/01/1971;175\r\n18;6;USA;2962;258;13.5;amc hornet sportabout (sw);1/01/1971;110\r\n22;4;USA;2408;140;19;chevrolet vega (sw);1/01/1971;72\r\n19;6;USA;3282;250;15;pontiac firebird;1/01/1971;100\r\n18;6;USA;3139;250;14.5;ford mustang;1/01/1971;88\r\n23;4;USA;2220;122;14;mercury capri 2000;1/01/1971;86\r\n28;4;Europe;2123;116;14;opel 1900;1/01/1971;90\r\n30;4;Europe;2074;79;19.5;peugeot 304;1/01/1971;70\r\n30;4;Europe;2065;88;14.5;fiat 124b;1/01/1971;76\r\n31;4;Japan;1773;71;19;toyota corolla 1200;1/01/1971;65\r\n35;4;Japan;1613;72;18;datsun 1200;1/01/1971;69\r\n27;4;Europe;1834;97;19;volkswagen model 111;1/01/1971;60\r\n26;4;USA;1955;91;20.5;plymouth cricket;1/01/1971;70\r\n24;4;Japan;2278;113;15.5;toyota corona hardtop;1/01/1972;95\r\n25;4;USA;2126;97.5;17;dodge colt hardtop;1/01/1972;80\r\n23;4;Europe;2254;97;23.5;volkswagen type 3;1/01/1972;54\r\n20;4;USA;2408;140;19.5;chevrolet vega;1/01/1972;90\r\n21;4;USA;2226;122;16.5;ford pinto runabout;1/01/1972;86\r\n13;8;USA;4274;350;12;chevrolet impala;1/01/1972;165\r\n14;8;USA;4385;400;12;pontiac catalina;1/01/1972;175\r\n15;8;USA;4135;318;13.5;plymouth fury iii;1/01/1972;150\r\n14;8;USA;4129;351;13;ford galaxie 500;1/01/1972;153\r\n17;8;USA;3672;304;11.5;amc ambassador sst;1/01/1972;150\r\n11;8;USA;4633;429;11;mercury marquis;1/01/1972;208\r\n13;8;USA;4502;350;13.5;buick lesabre custom;1/01/1972;155\r\n12;8;USA;4456;350;13.5;oldsmobile delta 88 royale;1/01/1972;160\r\n13;8;USA;4422;400;12.5;chrysler newport royal;1/01/1972;190\r\n19;3;Japan;2330;70;13.5;mazda rx2 coupe;1/01/1972;97\r\n15;8;USA;3892;304;12.5;amc matador (sw);1/01/1972;150\r\n13;8;USA;4098;307;14;chevrolet chevelle concours (sw);1/01/1972;130\r\n13;8;USA;4294;302;16;ford gran torino (sw);1/01/1972;140\r\n14;8;USA;4077;318;14;plymouth satellite custom (sw);1/01/1972;150\r\n18;4;Europe;2933;121;14.5;volvo 145e (sw);1/01/1972;112\r\n22;4;Europe;2511;121;18;volkswagen 411 (sw);1/01/1972;76\r\n21;4;Europe;2979;120;19.5;peugeot 504 (sw);1/01/1972;87\r\n26;4;Europe;2189;96;18;renault 12 (sw);1/01/1972;69\r\n22;4;USA;2395;122;16;ford pinto (sw);1/01/1972;86\r\n28;4;Japan;2288;97;17;datsun 510 (sw);1/01/1972;92\r\n23;4;Japan;2506;120;14.5;toyouta corona mark ii (sw);1/01/1972;97\r\n28;4;USA;2164;98;15;dodge colt (sw);1/01/1972;80\r\n27;4;Japan;2100;97;16.5;toyota corolla 1600 (sw);1/01/1972;88\r\n13;8;USA;4100;350;13;buick century 350;1/01/1973;175\r\n14;8;USA;3672;304;11.5;amc matador;1/01/1973;150\r\n13;8;USA;3988;350;13;chevrolet malibu;1/01/1973;145\r\n14;8;USA;4042;302;14.5;ford gran torino;1/01/1973;137\r\n15;8;USA;3777;318;12.5;dodge coronet custom;1/01/1973;150\r\n12;8;USA;4952;429;11.5;mercury marquis brougham;1/01/1973;198\r\n13;8;USA;4464;400;12;chevrolet caprice classic;1/01/1973;150\r\n13;8;USA;4363;351;13;ford ltd;1/01/1973;158\r\n14;8;USA;4237;318;14.5;plymouth fury gran sedan;1/01/1973;150\r\n13;8;USA;4735;440;11;chrysler new yorker brougham;1/01/1973;215\r\n12;8;USA;4951;455;11;buick electra 225 custom;1/01/1973;225\r\n13;8;USA;3821;360;11;amc ambassador brougham;1/01/1973;175\r\n18;6;USA;3121;225;16.5;plymouth valiant;1/01/1973;105\r\n16;6;USA;3278;250;18;chevrolet nova custom;1/01/1973;100\r\n18;6;USA;2945;232;16;amc hornet;1/01/1973;100\r\n18;6;USA;3021;250;16.5;ford maverick;1/01/1973;88\r\n23;6;USA;2904;198;16;plymouth duster;1/01/1973;95\r\n26;4;Europe;1950;97;21;volkswagen super beetle;1/01/1973;46\r\n11;8;USA;4997;400;14;chevrolet impala;1/01/1973;150\r\n12;8;USA;4906;400;12.5;ford country;1/01/1973;167\r\n13;8;USA;4654;360;13;plymouth custom suburb;1/01/1973;170\r\n12;8;USA;4499;350;12.5;oldsmobile vista cruiser;1/01/1973;180\r\n18;6;USA;2789;232;15;amc gremlin;1/01/1973;100\r\n20;4;Japan;2279;97;19;toyota carina;1/01/1973;88\r\n21;4;USA;2401;140;19.5;chevrolet vega;1/01/1973;72\r\n22;4;Japan;2379;108;16.5;datsun 610;1/01/1973;94\r\n18;3;Japan;2124;70;13.5;maxda rx3;1/01/1973;90\r\n19;4;USA;2310;122;18.5;ford pinto;1/01/1973;85\r\n21;6;USA;2472;155;14;mercury capri v6;1/01/1973;107\r\n26;4;Europe;2265;98;15.5;fiat 124 sport coupe;1/01/1973;90\r\n15;8;USA;4082;350;13;chevrolet monte carlo s;1/01/1973;145\r\n16;8;USA;4278;400;9.5;pontiac grand prix;1/01/1973;230\r\n29;4;Europe;1867;68;19.5;fiat 128;1/01/1973;49\r\n24;4;Europe;2158;116;15.5;opel manta;1/01/1973;75\r\n20;4;Europe;2582;114;14;audi 100ls;1/01/1973;91\r\n19;4;Europe;2868;121;15.5;volvo 144ea;1/01/1973;112\r\n15;8;USA;3399;318;11;dodge dart custom;1/01/1973;150\r\n24;4;Europe;2660;121;14;saab 99le;1/01/1973;110\r\n20;6;Japan;2807;156;13.5;toyota mark ii;1/01/1973;122\r\n11;8;USA;3664;350;11;oldsmobile omega;1/01/1973;180\r\n20;6;USA;3102;198;16.5;plymouth duster;1/01/1974;95\r\n21;6;USA;2875;200;17;ford maverick;1/01/1974;NA\r\n19;6;USA;2901;232;16;amc hornet;1/01/1974;100\r\n15;6;USA;3336;250;17;chevrolet nova;1/01/1974;100\r\n31;4;Japan;1950;79;19;datsun b210;1/01/1974;67\r\n26;4;USA;2451;122;16.5;ford pinto;1/01/1974;80\r\n32;4;Japan;1836;71;21;toyota corolla 1200;1/01/1974;65\r\n25;4;USA;2542;140;17;chevrolet vega;1/01/1974;75\r\n16;6;USA;3781;250;17;chevrolet chevelle malibu classic;1/01/1974;100\r\n16;6;USA;3632;258;18;amc matador;1/01/1974;110\r\n18;6;USA;3613;225;16.5;plymouth satellite sebring;1/01/1974;105\r\n16;8;USA;4141;302;14;ford gran torino;1/01/1974;140\r\n13;8;USA;4699;350;14.5;buick century luxus (sw);1/01/1974;150\r\n14;8;USA;4457;318;13.5;dodge coronet custom (sw);1/01/1974;150\r\n14;8;USA;4638;302;16;ford gran torino (sw);1/01/1974;140\r\n14;8;USA;4257;304;15.5;amc matador (sw);1/01/1974;150\r\n29;4;Europe;2219;98;16.5;audi fox;1/01/1974;83\r\n26;4;Europe;1963;79;15.5;volkswagen dasher;1/01/1974;67\r\n26;4;Europe;2300;97;14.5;opel manta;1/01/1974;78\r\n31;4;Japan;1649;76;16.5;toyota corona;1/01/1974;52\r\n32;4;Japan;2003;83;19;datsun 710;1/01/1974;61\r\n28;4;USA;2125;90;14.5;dodge colt;1/01/1974;75\r\n24;4;Europe;2108;90;15.5;fiat 128;1/01/1974;75\r\n26;4;Europe;2246;116;14;fiat 124 tc;1/01/1974;75\r\n24;4;Japan;2489;120;15;honda civic;1/01/1974;97\r\n26;4;Japan;2391;108;15.5;subaru;1/01/1974;93\r\n31;4;Europe;2000;79;16;fiat x1.9;1/01/1974;67\r\n19;6;USA;3264;225;16;plymouth valiant custom;1/01/1975;95\r\n18;6;USA;3459;250;16;chevrolet nova;1/01/1975;105\r\n15;6;USA;3432;250;21;mercury monarch;1/01/1975;72\r\n15;6;USA;3158;250;19.5;ford maverick;1/01/1975;72\r\n16;8;USA;4668;400;11.5;pontiac catalina;1/01/1975;170\r\n15;8;USA;4440;350;14;chevrolet bel air;1/01/1975;145\r\n16;8;USA;4498;318;14.5;plymouth grand fury;1/01/1975;150\r\n14;8;USA;4657;351;13.5;ford ltd;1/01/1975;148\r\n17;6;USA;3907;231;21;buick century;1/01/1975;110\r\n16;6;USA;3897;250;18.5;chevroelt chevelle malibu;1/01/1975;105\r\n15;6;USA;3730;258;19;amc matador;1/01/1975;110\r\n18;6;USA;3785;225;19;plymouth fury;1/01/1975;95\r\n21;6;USA;3039;231;15;buick skyhawk;1/01/1975;110\r\n20;8;USA;3221;262;13.5;chevrolet monza 2+2;1/01/1975;110\r\n13;8;USA;3169;302;12;ford mustang ii;1/01/1975;129\r\n29;4;Japan;2171;97;16;toyota corolla;1/01/1975;75\r\n23;4;USA;2639;140;17;ford pinto;1/01/1975;83\r\n20;6;USA;2914;232;16;amc gremlin;1/01/1975;100\r\n23;4;USA;2592;140;18.5;pontiac astro;1/01/1975;78\r\n24;4;Japan;2702;134;13.5;toyota corona;1/01/1975;96\r\n25;4;Europe;2223;90;16.5;volkswagen dasher;1/01/1975;71\r\n24;4;Japan;2545;119;17;datsun 710;1/01/1975;97\r\n18;6;USA;2984;171;14.5;ford pinto;1/01/1975;97\r\n29;4;Europe;1937;90;14;volkswagen rabbit;1/01/1975;70\r\n19;6;USA;3211;232;17;amc pacer;1/01/1975;90\r\n23;4;Europe;2694;115;15;audi 100ls;1/01/1975;95\r\n23;4;Europe;2957;120;17;peugeot 504;1/01/1975;88\r\n22;4;Europe;2945;121;14.5;volvo 244dl;1/01/1975;98\r\n25;4;Europe;2671;121;13.5;saab 99le;1/01/1975;115\r\n33;4;Japan;1795;91;17.5;honda civic cvcc;1/01/1975;53\r\n28;4;Europe;2464;107;15.5;fiat 131;1/01/1976;86\r\n25;4;Europe;2220;116;16.9;opel 1900;1/01/1976;81\r\n25;4;USA;2572;140;14.9;capri ii;1/01/1976;92\r\n26;4;USA;2255;98;17.7;dodge colt;1/01/1976;79\r\n27;4;Europe;2202;101;15.3;renault 12tl;1/01/1976;83\r\n17.5;8;USA;4215;305;13;chevrolet chevelle malibu classic;1/01/1976;140\r\n16;8;USA;4190;318;13;dodge coronet brougham;1/01/1976;150\r\n15.5;8;USA;3962;304;13.9;amc matador;1/01/1976;120\r\n14.5;8;USA;4215;351;12.8;ford gran torino;1/01/1976;152\r\n22;6;USA;3233;225;15.4;plymouth valiant;1/01/1976;100\r\n22;6;USA;3353;250;14.5;chevrolet nova;1/01/1976;105\r\n24;6;USA;3012;200;17.6;ford maverick;1/01/1976;81\r\n22.5;6;USA;3085;232;17.6;amc hornet;1/01/1976;90\r\n29;4;USA;2035;85;22.2;chevrolet chevette;1/01/1976;52\r\n24.5;4;USA;2164;98;22.1;chevrolet woody;1/01/1976;60\r\n29;4;Europe;1937;90;14.2;vw rabbit;1/01/1976;70\r\n33;4;Japan;1795;91;17.4;honda civic;1/01/1976;53\r\n20;6;USA;3651;225;17.7;dodge aspen se;1/01/1976;100\r\n18;6;USA;3574;250;21;ford granada ghia;1/01/1976;78\r\n18.5;6;USA;3645;250;16.2;pontiac ventura sj;1/01/1976;110\r\n17.5;6;USA;3193;258;17.8;amc pacer d/l;1/01/1976;95\r\n29.5;4;Europe;1825;97;12.2;volkswagen rabbit;1/01/1976;71\r\n32;4;Japan;1990;85;17;datsun b-210;1/01/1976;70\r\n28;4;Japan;2155;97;16.4;toyota corolla;1/01/1976;75\r\n26.5;4;USA;2565;140;13.6;ford pinto;1/01/1976;72\r\n20;4;Europe;3150;130;15.7;volvo 245;1/01/1976;102\r\n13;8;USA;3940;318;13.2;plymouth volare premier v8;1/01/1976;150\r\n19;4;Europe;3270;120;21.9;peugeot 504;1/01/1976;88\r\n19;6;Japan;2930;156;15.5;toyota mark ii;1/01/1976;108\r\n16.5;6;Europe;3820;168;16.7;mercedes-benz 280s;1/01/1976;120\r\n16.5;8;USA;4380;350;12.1;cadillac seville;1/01/1976;180\r\n13;8;USA;4055;350;12;chevy c10;1/01/1976;145\r\n13;8;USA;3870;302;15;ford f108;1/01/1976;130\r\n13;8;USA;3755;318;14;dodge d100;1/01/1976;150\r\n31.5;4;Japan;2045;98;18.5;honda Accelerationord cvcc;1/01/1977;68\r\n30;4;USA;2155;111;14.8;buick opel isuzu deluxe;1/01/1977;80\r\n36;4;Europe;1825;79;18.6;renault 5 gtl;1/01/1977;58\r\n25.5;4;USA;2300;122;15.5;plymouth arrow gs;1/01/1977;96\r\n33.5;4;Japan;1945;85;16.8;datsun f-10 hatchback;1/01/1977;70\r\n17.5;8;USA;3880;305;12.5;chevrolet caprice classic;1/01/1977;145\r\n17;8;USA;4060;260;19;oldsmobile cutlass supreme;1/01/1977;110\r\n15.5;8;USA;4140;318;13.7;dodge monaco brougham;1/01/1977;145\r\n15;8;USA;4295;302;14.9;mercury cougar brougham;1/01/1977;130\r\n17.5;6;USA;3520;250;16.4;chevrolet concours;1/01/1977;110\r\n20.5;6;USA;3425;231;16.9;buick skylark;1/01/1977;105\r\n19;6;USA;3630;225;17.7;plymouth volare custom;1/01/1977;100\r\n18.5;6;USA;3525;250;19;ford granada;1/01/1977;98\r\n16;8;USA;4220;400;11.1;pontiac grand prix lj;1/01/1977;180\r\n15.5;8;USA;4165;350;11.4;chevrolet monte carlo landau;1/01/1977;170\r\n15.5;8;USA;4325;400;12.2;chrysler cordoba;1/01/1977;190\r\n16;8;USA;4335;351;14.5;ford thunderbird;1/01/1977;149\r\n29;4;Europe;1940;97;14.5;volkswagen rabbit custom;1/01/1977;78\r\n24.5;4;USA;2740;151;16;pontiac sunbird coupe;1/01/1977;88\r\n26;4;Japan;2265;97;18.2;toyota corolla liftback;1/01/1977;75\r\n25.5;4;USA;2755;140;15.8;ford mustang ii 2+2;1/01/1977;89\r\n30.5;4;USA;2051;98;17;chevrolet chevette;1/01/1977;63\r\n33.5;4;USA;2075;98;15.9;dodge colt m/m;1/01/1977;83\r\n30;4;Japan;1985;97;16.4;subaru dl;1/01/1977;67\r\n30.5;4;Europe;2190;97;14.1;volkswagen dasher;1/01/1977;78\r\n22;6;Japan;2815;146;14.5;datsun 810;1/01/1977;97\r\n21.5;4;Europe;2600;121;12.8;bmw 320i;1/01/1977;110\r\n21.5;3;Japan;2720;80;13.5;mazda rx-4;1/01/1977;110\r\n43.1;4;Europe;1985;90;21.5;volkswagen rabbit custom diesel;1/01/1978;48\r\n36.1;4;USA;1800;98;14.4;ford fiesta;1/01/1978;66\r\n32.8;4;Japan;1985;78;19.4;mazda glc deluxe;1/01/1978;52\r\n39.4;4;Japan;2070;85;18.6;datsun b210 gx;1/01/1978;70\r\n36.1;4;Japan;1800;91;16.4;honda civic cvcc;1/01/1978;60\r\n19.9;8;USA;3365;260;15.5;oldsmobile cutlass salon brougham;1/01/1978;110\r\n19.4;8;USA;3735;318;13.2;dodge diplomat;1/01/1978;140\r\n20.2;8;USA;3570;302;12.8;mercury monarch ghia;1/01/1978;139\r\n19.2;6;USA;3535;231;19.2;pontiac phoenix lj;1/01/1978;105\r\n20.5;6;USA;3155;200;18.2;chevrolet malibu;1/01/1978;95\r\n20.2;6;USA;2965;200;15.8;ford fairmont (auto);1/01/1978;85\r\n25.1;4;USA;2720;140;15.4;ford fairmont (man);1/01/1978;88\r\n20.5;6;USA;3430;225;17.2;plymouth volare;1/01/1978;100\r\n19.4;6;USA;3210;232;17.2;amc concord;1/01/1978;90\r\n20.6;6;USA;3380;231;15.8;buick century special;1/01/1978;105\r\n20.8;6;USA;3070;200;16.7;mercury zephyr;1/01/1978;85\r\n18.6;6;USA;3620;225;18.7;dodge aspen;1/01/1978;110\r\n18.1;6;USA;3410;258;15.1;amc concord d/l;1/01/1978;120\r\n19.2;8;USA;3425;305;13.2;chevrolet monte carlo landau;1/01/1978;145\r\n17.7;6;USA;3445;231;13.4;buick regal sport coupe (turbo);1/01/1978;165\r\n18.1;8;USA;3205;302;11.2;ford futura;1/01/1978;139\r\n17.5;8;USA;4080;318;13.7;dodge magnum xe;1/01/1978;140\r\n30;4;USA;2155;98;16.5;chevrolet chevette;1/01/1978;68\r\n27.5;4;Japan;2560;134;14.2;toyota corona;1/01/1978;95\r\n27.2;4;Japan;2300;119;14.7;datsun 510;1/01/1978;97\r\n30.9;4;USA;2230;105;14.5;dodge omni;1/01/1978;75\r\n21.1;4;Japan;2515;134;14.8;toyota celica gt liftback;1/01/1978;95\r\n23.2;4;USA;2745;156;16.7;plymouth sapporo;1/01/1978;105\r\n23.8;4;USA;2855;151;17.6;oldsmobile starfire sx;1/01/1978;85\r\n23.9;4;Japan;2405;119;14.9;datsun 200-sx;1/01/1978;97\r\n20.3;5;Europe;2830;131;15.9;audi 5000;1/01/1978;103\r\n17;6;Europe;3140;163;13.6;volvo 264gl;1/01/1978;125\r\n21.6;4;Europe;2795;121;15.7;saab 99gle;1/01/1978;115\r\n16.2;6;Europe;3410;163;15.8;peugeot 604sl;1/01/1978;133\r\n31.5;4;Europe;1990;89;14.9;volkswagen scirocco;1/01/1978;71\r\n29.5;4;Japan;2135;98;16.6;honda Accelerationord lx;1/01/1978;68\r\n21.5;6;USA;3245;231;15.4;pontiac lemans v6;1/01/1979;115\r\n19.8;6;USA;2990;200;18.2;mercury zephyr 6;1/01/1979;85\r\n22.3;4;USA;2890;140;17.3;ford fairmont 4;1/01/1979;88\r\n20.2;6;USA;3265;232;18.2;amc concord dl 6;1/01/1979;90\r\n20.6;6;USA;3360;225;16.6;dodge aspen 6;1/01/1979;110\r\n17;8;USA;3840;305;15.4;chevrolet caprice classic;1/01/1979;130\r\n17.6;8;USA;3725;302;13.4;ford ltd landau;1/01/1979;129\r\n16.5;8;USA;3955;351;13.2;mercury grand marquis;1/01/1979;138\r\n18.2;8;USA;3830;318;15.2;dodge st. regis;1/01/1979;135\r\n16.9;8;USA;4360;350;14.9;buick estate wagon (sw);1/01/1979;155\r\n15.5;8;USA;4054;351;14.3;ford country squire (sw);1/01/1979;142\r\n19.2;8;USA;3605;267;15;chevrolet malibu classic (sw);1/01/1979;125\r\n18.5;8;USA;3940;360;13;chrysler lebaron town @ country (sw);1/01/1979;150\r\n31.9;4;Europe;1925;89;14;vw rabbit custom;1/01/1979;71\r\n34.1;4;Japan;1975;86;15.2;maxda glc deluxe;1/01/1979;65\r\n35.7;4;USA;1915;98;14.4;dodge colt hatchback custom;1/01/1979;80\r\n27.4;4;USA;2670;121;15;amc spirit dl;1/01/1979;80\r\n25.4;5;Europe;3530;183;20.1;mercedes benz 300d;1/01/1979;77\r\n23;8;USA;3900;350;17.4;cadillac eldorado;1/01/1979;125\r\n27.2;4;Europe;3190;141;24.8;peugeot 504;1/01/1979;71\r\n23.9;8;USA;3420;260;22.2;oldsmobile cutlass salon brougham;1/01/1979;90\r\n34.2;4;USA;2200;105;13.2;plymouth horizon;1/01/1979;70\r\n34.5;4;USA;2150;105;14.9;plymouth horizon tc3;1/01/1979;70\r\n31.8;4;Japan;2020;85;19.2;datsun 210;1/01/1979;65\r\n37.3;4;Europe;2130;91;14.7;fiat strada custom;1/01/1979;69\r\n28.4;4;USA;2670;151;16;buick skylark limited;1/01/1979;90\r\n28.8;6;USA;2595;173;11.3;chevrolet citation;1/01/1979;115\r\n26.8;6;USA;2700;173;12.9;oldsmobile omega brougham;1/01/1979;115\r\n33.5;4;USA;2556;151;13.2;pontiac phoenix;1/01/1979;90\r\n41.5;4;Europe;2144;98;14.7;vw rabbit;1/01/1980;76\r\n38.1;4;Japan;1968;89;18.8;toyota corolla tercel;1/01/1980;60\r\n32.1;4;USA;2120;98;15.5;chevrolet chevette;1/01/1980;70\r\n37.2;4;Japan;2019;86;16.4;datsun 310;1/01/1980;65\r\n28;4;USA;2678;151;16.5;chevrolet citation;1/01/1980;90\r\n26.4;4;USA;2870;140;18.1;ford fairmont;1/01/1980;88\r\n24.3;4;USA;3003;151;20.1;amc concord;1/01/1980;90\r\n19.1;6;USA;3381;225;18.7;dodge aspen;1/01/1980;90\r\n34.3;4;Europe;2188;97;15.8;audi 4000;1/01/1980;78\r\n29.8;4;Japan;2711;134;15.5;toyota corona liftback;1/01/1980;90\r\n31.3;4;Japan;2542;120;17.5;mazda 626;1/01/1980;75\r\n37;4;Japan;2434;119;15;datsun 510 hatchback;1/01/1980;92\r\n32.2;4;Japan;2265;108;15.2;toyota corolla;1/01/1980;75\r\n46.6;4;Japan;2110;86;17.9;mazda glc;1/01/1980;65\r\n27.9;4;USA;2800;156;14.4;dodge colt;1/01/1980;105\r\n40.8;4;Japan;2110;85;19.2;datsun 210;1/01/1980;65\r\n44.3;4;Europe;2085;90;21.7;vw rabbit c (diesel);1/01/1980;48\r\n43.4;4;Europe;2335;90;23.7;vw dasher (diesel);1/01/1980;48\r\n36.4;5;Europe;2950;121;19.9;audi 5000s (diesel);1/01/1980;67\r\n30;4;Europe;3250;146;21.8;mercedes-benz 240d;1/01/1980;67\r\n44.6;4;Japan;1850;91;13.8;honda civic 1500 gl;1/01/1980;67\r\n40.9;4;Europe;1835;85;17.3;renault lecar deluxe;1/01/1980;NA\r\n33.8;4;Japan;2145;97;18;subaru dl;1/01/1980;67\r\n29.8;4;Europe;1845;89;15.3;vokswagen rabbit;1/01/1980;62\r\n32.7;6;Japan;2910;168;11.4;datsun 280-zx;1/01/1980;132\r\n23.7;3;Japan;2420;70;12.5;mazda rx-7 gs;1/01/1980;100\r\n35;4;Europe;2500;122;15.1;triumph tr7 coupe;1/01/1980;88\r\n23.6;4;USA;2905;140;14.3;ford mustang cobra;1/01/1980;NA\r\n32.4;4;Japan;2290;107;17;honda Accelerationord;1/01/1980;72\r\n27.2;4;USA;2490;135;15.7;plymouth reliant;1/01/1982;84\r\

In [50]:
#levantamos la data con pandas
df = pd.read_csv('autos.csv', sep=';')
df.head()

   Millas_Por_Galon  Cilindros  ...       Anyo  Caballo_De_Fuerza
0              18.0          8  ...  1/01/1970              130.0
1              15.0          8  ...  1/01/1970              165.0
2              18.0          8  ...  1/01/1970              150.0
3              16.0          8  ...  1/01/1970              150.0
4              17.0          8  ...  1/01/1970              140.0

[5 rows x 9 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Millas_Por_Galon   398 non-null    float64
 1   Cilindros          406 non-null    int64
 2   Pais_Origen        406 non-null    object
 3   Peso_En_Libras     406 non-null    int64
 4   Desplazamiento     406 non-null    float64
 5   Aceleracion        406 non-null    float64
 6   Nombre             406 non-null    object
 7   Anyo               406 non-null    object
 8   Caballo_De_Fuerza  400 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 28.7+ KB

In [9]:
print("Numero de filas en total: ", len(df.to_numpy()))

Numero de filas en total:  406

In [10]:
df.isnull().sum()

Millas_Por_Galon     8
Cilindros            0
Pais_Origen          0
Peso_En_Libras       0
Desplazamiento       0
Aceleracion          0
Nombre               0
Anyo                 0
Caballo_De_Fuerza    6
dtype: int64

In [11]:
df.columns

Index(['Millas_Por_Galon', 'Cilindros', 'Pais_Origen', 'Peso_En_Libras',
       'Desplazamiento', 'Aceleracion', 'Nombre', 'Anyo', 'Caballo_De_Fuerza'],
      dtype='object')

In [57]:
# Data numérica
# 'edad', 'meses', 'max_ant', 'ingreso', 'score'
data_autos= df.loc[:, ['Millas_Por_Galon', 'Cilindros', 'Peso_En_Libras', 'Desplazamiento', 'Aceleracion', 'Caballo_De_Fuerza']] 
data_autos.head(6)

   Millas_Por_Galon  Cilindros  ...  Aceleracion  Caballo_De_Fuerza
0              18.0          8  ...         12.0              130.0
1              15.0          8  ...         11.5              165.0
2              18.0          8  ...         11.0              150.0
3              16.0          8  ...         12.0              150.0
4              17.0          8  ...         10.5              140.0
5              15.0          8  ...         10.0              198.0

[6 rows x 6 columns]

In [58]:
# imputamos la data perdida
from sklearn.impute import KNNImputer

imputacion_NP = KNNImputer(n_neighbors=2)
data_autos=imputacion_NP.fit_transform(data_autos)

In [67]:
data_autos = pd.DataFrame(
    data=data_autos,
    columns=['Millas_Por_Galon', 'Cilindros', 'Peso_En_Libras', 'Desplazamiento', 'Aceleracion', 'Caballo_De_Fuerza'])

In [ ]:
data_autos.head()

Creamos los vectores para operar con cada columna

In [16]:
Millas_Por_Galon=np.array(data_autos.loc[:, ['Millas_Por_Galon']])
Cilindros=np.array(data_autos.loc[:, ['Cilindros']])
Peso_En_Libras=np.array(data_autos.loc[:, ['Peso_En_Libras']])
Desplazamiento=np.array(data_autos.loc[:, ['Desplazamiento']])
Aceleracion=np.array(data_autos.loc[:, ['Aceleracion']])
Caballo_De_Fuerza=np.array(data_autos.loc[:, ['Caballo_De_Fuerza']])

#np.array()

In [17]:
#importamos la liberia math
import math

In [ ]:
#Primera variable
var1=np.round(np.log10(Millas_Por_Galon/Cilindros), decimals=2)
var1

In [ ]:
#Segunda variable
var2=np.round(np.sqrt(Millas_Por_Galon)*np.exp(Cilindros)/200, decimals=2)
var2

In [ ]:
#Tercera variable
v=[]
for i in range(0, 406):
  if Millas_Por_Galon[i]<Aceleracion[i] :
      v.append(5)
  else:
      v.append(3)

var3=np.array(v)
len(var3)
var3

In [ ]:
#Cuarta variable
var4=np.round(1/np.log(Millas_Por_Galon/Cilindros)*100,decimals=2)
var4

In [ ]:
#Quinta variable
var5= np.round(Millas_Por_Galon**2/Cilindros, decimals=2)
var5

In [ ]:
#Sexta variable
v=[]
for i in range(0, 406):
  if Cilindros[i]>np.mean(Cilindros)+1*np.std(Cilindros):
      v.append("Alto")
  elif Cilindros[i]<np.mean(Cilindros)+1*np.std(Cilindros) and Cilindros[i]>np.mean(Cilindros)-1*np.std(Cilindros):
      v.append("Medio")
  else :
      v.append("Bajo")

var6=np.array(v)
var6

In [ ]:
data_autos.insert(loc = 2, column = 'Pais_Origen', value = np.array(df.loc[:, ['Pais_Origen']])) 
data_autos.insert(loc = 6, column = 'Nombre', value = np.array(df.loc[:, ['Nombre']])) 
data_autos.insert(loc = 7, column = 'Anyo', value = np.array(df.loc[:, ['Anyo']])) 
data_autos

In [ ]:
#agregando las variables generadas a nuestra data frame

data_autos.loc[:,'Var_1'] = var1
data_autos.loc[:,'Var_2'] = var2
data_autos.loc[:,'Var_3'] = var3
data_autos.loc[:,'Var_4'] = var4
data_autos.loc[:,'Var_5'] = var5
data_autos.loc[:,'Var_6'] = var6

data_autos.head()

In [ ]:
# Diagrama de Caja y Bigotes
df_s_zona = data_autos.loc[:, ['Desplazamiento', 'Cilindros']] 
df_s_zona.Desplazamiento.plot.box()

In [ ]:
# Barras de la media
nombres=['Mi_Galon', 'Cilindros', 'P_Libras', 'Despl', 'Acel', 'Caballo_Fuerza']
medias=[np.mean(Millas_Por_Galon),np.mean(Cilindros),np.mean(Peso_En_Libras),np.mean(Desplazamiento),np.mean(Aceleracion),np.mean(Caballo_De_Fuerza)]
plt.title("Histograma con la media de los Valores numericos")
plt.bar(nombres,height=medias, color=["blue", "red","green","gray","black","purple"], width=0.5)
plt.show()